@charset "UTF-8";

/* fonts */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "Spoqa Han Sans Neo GNB KR";
  src: url(../fonts/SpoqaHanSansNeo-Regular.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Spoqa Han Sans Neo GNB KR";
  src: url(../fonts/SpoqaHanSansNeo-Bold.woff);
  font-weight: 700;
}

body {
  width: 1903px;
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* component */
@mixin c-sprite {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
}
.c-sprite {
  @include c-sprite;
}

main {
  position: relative;
}

/* header */
.header {
  position: fixed;
  top: 48px;
  display: flex;
  width: 1903px;
  height: 80px;
  z-index: 100;
  padding: 0 0 0 74px;
  min-height: 80px;
  transition: height .2s, background-color .2s;
  &--hover {
    background-color: #000;
    height: 343px;
    .header__subline {
      opacity: 1;
      visibility: visible;
    }
    .header__scroll {
      background-color: transparent;
    }
  }
  &--active {
    background-color: #000;
  }
  > h1 {
    display: flex;
    align-items: center;
    height: 80px;
    padding-top: 4px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 79px;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: .1;
    background-color: #fff;
  }
  &__nav {
    &:hover .header__submenu {
      opacity: 1;
      visibility: visible;
    }
  }
  &__logo {
    width: 158px;
    height: 46px;
    background-position: -275px -228px;
  }
  &__link {
    position: relative;
    display: inline-flex;
    &[target=_blank] {
      &::after {
        @include c-sprite;
        content: '';
        width: 10px;
        height: 10px;
        background-position: -1237px -1161px;
        margin: -2px 0 0 5px;
        opacity: 0.5;
        transition: .2s;
      }
      &:hover::after {
        opacity: 1;
      }
    }
    &--new::after {
      content: "";
      display: inline-block;
      margin: 0 0 13px 5px;
      width: 5px;
      height: 5px;
      background-color: #ff009c;
      border-radius: 50%;
    }
    &--newsub:after {
      content: "";
      display: inline-block;
      margin: 0 0 9px 4px;
      width: 5px;
      height: 5px;
      background-color: #ff009c;
      border-radius: 50%;
    }
  }
  &__menu {
    display: flex;
    margin-left: 50px;
    > li {
      > a {
        display: inline-block;
        line-height: 80px;
        margin: 0 15.36px;
        padding: 0 7.68px;
        font-size: 17px;
        color: #fff;
      }
    } 
  }
  &__subline {
    position: absolute;
    top: 77px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ff009c;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
  }
  &__submenu {
    position: absolute;
    padding-top: 20px;
    min-height: 343px - 80px;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
    > li {
      margin-left: 15.36px;
      > a {
        display: inline-block;
        padding: 13px 0 5px;
        margin-left: 7.68px;
        font-size: 14px;
        color: #888;
        transition: .2s;
        &:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: auto;
  }
  &__login {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 0;
    &::before, &::after {
      content: '';
      @include c-sprite;
      width: 50px;
      height: 12px;
      background-position: -635px -499px;
    }
    &::after {
      position: absolute;
      top: 10px;
      left: 10px;
      background-position: -1037px -969px;
      opacity: 0;
      transition: .2s;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__pcplus {
    @include c-sprite;
    width: 71px;
    height: 30px;
    background-position: -597px -1044px;
    margin-left: 5px;
    &--on {
      background-position: -669px -1044px;  
    }
  }
  &__start {
    position: relative;
    width: 268px;
    height: 80px;
    font-size: 0;
    margin-left: 48px;
    &::before, &::after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: url(../images/bt_header_gamestart.png) 50% 0;
      transition: .2s;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../images/bt_header_gamestart_hover.png);
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__scroll {
    position: absolute;
    top: 80px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width .2s;
    background-color: #8809f6;
  }
}

/* main */
.stovegnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 40px;
  &__menu {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-left: 21px;
    font-family: "Spoqa Han Sans Neo GNB KR";
    font-size: 13px;
    font-weight: 700;
    color: #1f1f1f;
  }
}

.main-top {
  position: relative;
  width: 100%;
  height: 1000px;
  background: url(../images/bg_main.jpg) no-repeat;
  background-position: 50% 0;
  &__detail-btn {
    position: absolute;
    top: 299px;
    left: 50%;
    width: 175px;
    height: 48px;
    margin-left: -87.5px;
    font-size: 0;
  }
  &__main-slide {
    position: absolute;
    top: 396px;
    left: 50%;
    width: 890px;
    height: 508px;
    margin-left: -630px;
  }
  &__video {
    position: absolute;
    top: 122px;
    left: calc(50% + 35px);
    width: 360px;
    height: 240px;
    cursor: pointer;
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }
    &::after {
      content: '';
      background: url(../images/bt_movie.png) no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 102px;
      height: 102px;
      transform: translateX(-50%) translateY(-50%);
      transition: .2s;
      opacity: 0;
      visibility: hidden;
    }
  }
  .swiper-slide {
    &--update::after, &--event::after, &--shop::after {
      @include c-sprite;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 77px;
      height: 77px;
    }
    &--update::after {
      background-position: -876px -170px;
    }
    &--event::after {
      background-position: -876px -92px;
    }
    &--shop::after {
      background-position: -954px -92px;
    }
  }
  .swiper-control {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 52px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
  }
  .swiper-pagination {
    position: relative;
    top: inherit; bottom: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    margin-left: -12px;
  }
  .swiper-pagination-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 25%;
    height: 52px;
    margin: 0 !important;
    opacity: 1;
    font-size: 14px;
    color: #858995;
    background-color: transparent;
  }
  .swiper-pagination-bullet-active {
    color: #FFF;
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-next, .swiper-button-prev {
    position: relative;
    top: inherit; bottom: inherit;
    left: inherit; right: inherit;
    margin: 0;
  }
  .swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 52px;
    opacity: 0.8;
    transition: .2s;
    &:hover {
      opacity: 1;
    }
    &::after {
      @include c-sprite;
      content: '';
      width: 10px;
      height: 17px;
      background-position: -1203px -685px;
    }
  }
  .swiper-button-prev {
    &::after {
      background-position: -1203px -703px;
    }
  }
  .swiper-fraction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-left: 16px;
    font-size: 16px;
    color: #888;
    > .count {
      color: #fff;
      font-size: 14px;
    }
    > .total {
      font-size: 14px;
    }
  }
  .swiper-all {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0.8;
    transition: .2s;
    &:hover {
      opacity: 1;
    }
    &::after {
      content: '';
      @include c-sprite;
      width: 12px;
      height: 12px;
      background-position: -1023px -387px;
    }
  }
}

/* swiper */
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}