/* fonts */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: "Spoqa Han Sans Neo GNB KR";
  src: url(../fonts/SpoqaHanSansNeo-Regular.woff);
  font-weight: 500;
}
@font-face {
  font-family: "Spoqa Han Sans Neo GNB KR";
  src: url(../fonts/SpoqaHanSansNeo-Bold.woff);
  font-weight: 700;
}
body {
  width: 1903px;
  font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* component */
.c-sprite {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
}

main {
  position: relative;
}

/* header */
.header {
  position: fixed;
  top: 48px;
  display: flex;
  width: 1903px;
  height: 80px;
  z-index: 100;
  padding: 0 0 0 74px;
  min-height: 80px;
  transition: height 0.2s, background-color 0.2s;
}
.header--hover {
  background-color: #000;
  height: 343px;
}
.header--hover .header__subline {
  opacity: 1;
  visibility: visible;
}
.header--hover .header__scroll {
  background-color: transparent;
}
.header--active {
  background-color: #000;
}
.header > h1 {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 4px;
}
.header::before {
  content: "";
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.1;
  background-color: #fff;
}
.header__nav:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}
.header__logo {
  width: 158px;
  height: 46px;
  background-position: -275px -228px;
}
.header__link {
  position: relative;
  display: inline-flex;
}
.header__link[target=_blank]::after {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  content: "";
  width: 10px;
  height: 10px;
  background-position: -1237px -1161px;
  margin: -2px 0 0 5px;
  opacity: 0.5;
  transition: 0.2s;
}
.header__link[target=_blank]:hover::after {
  opacity: 1;
}
.header__link--new::after {
  content: "";
  display: inline-block;
  margin: 0 0 13px 5px;
  width: 5px;
  height: 5px;
  background-color: #ff009c;
  border-radius: 50%;
}
.header__link--newsub:after {
  content: "";
  display: inline-block;
  margin: 0 0 9px 4px;
  width: 5px;
  height: 5px;
  background-color: #ff009c;
  border-radius: 50%;
}
.header__menu {
  display: flex;
  margin-left: 50px;
}
.header__menu > li > a {
  display: inline-block;
  line-height: 80px;
  margin: 0 15.36px;
  padding: 0 7.68px;
  font-size: 17px;
  color: #fff;
}
.header__subline {
  position: absolute;
  top: 77px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff009c;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.header__submenu {
  position: absolute;
  padding-top: 20px;
  min-height: 263px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.header__submenu > li {
  margin-left: 15.36px;
}
.header__submenu > li > a {
  display: inline-block;
  padding: 13px 0 5px;
  margin-left: 7.68px;
  font-size: 14px;
  color: #888;
  transition: 0.2s;
}
.header__submenu > li > a:hover {
  text-decoration: underline;
  color: #fff;
}
.header__right {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: auto;
}
.header__login {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 0;
}
.header__login::before, .header__login::after {
  content: "";
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  width: 50px;
  height: 12px;
  background-position: -635px -499px;
}
.header__login::after {
  position: absolute;
  top: 10px;
  left: 10px;
  background-position: -1037px -969px;
  opacity: 0;
  transition: 0.2s;
}
.header__login:hover::after {
  opacity: 1;
}
.header__pcplus {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  width: 71px;
  height: 30px;
  background-position: -597px -1044px;
  margin-left: 5px;
}
.header__pcplus--on {
  background-position: -669px -1044px;
}
.header__start {
  position: relative;
  width: 268px;
  height: 80px;
  font-size: 0;
  margin-left: 48px;
}
.header__start::before, .header__start::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/bt_header_gamestart.png) 50% 0;
  transition: 0.2s;
}
.header__start::after {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/bt_header_gamestart_hover.png);
  opacity: 0;
}
.header__start:hover::after {
  opacity: 1;
}
.header__scroll {
  position: absolute;
  top: 80px;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.2s;
  background-color: #8809f6;
}

/* main */
.stovegnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 40px;
}
.stovegnb__menu {
  display: flex;
  align-items: center;
}
.stovegnb__text {
  margin-left: 21px;
  font-family: "Spoqa Han Sans Neo GNB KR";
  font-size: 13px;
  font-weight: 700;
  color: #1f1f1f;
}

.main-top {
  position: relative;
  width: 100%;
  height: 1000px;
  background: url(../images/bg_main.jpg) no-repeat;
  background-position: 50% 0;
}
.main-top__detail-btn {
  position: absolute;
  top: 299px;
  left: 50%;
  width: 175px;
  height: 48px;
  margin-left: -87.5px;
  font-size: 0;
}
.main-top__main-slide {
  position: absolute;
  top: 396px;
  left: 50%;
  width: 890px;
  height: 508px;
  margin-left: -630px;
}
.main-top__video {
  position: absolute;
  top: 122px;
  left: calc(50% + 35px);
  width: 360px;
  height: 240px;
  cursor: pointer;
}
.main-top__video:hover::after {
  opacity: 1;
  visibility: visible;
}
.main-top__video::after {
  content: "";
  background: url(../images/bt_movie.png) no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 102px;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
}
.main-top .swiper-slide--update::after, .main-top .swiper-slide--event::after, .main-top .swiper-slide--shop::after {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 77px;
  height: 77px;
}
.main-top .swiper-slide--update::after {
  background-position: -876px -170px;
}
.main-top .swiper-slide--event::after {
  background-position: -876px -92px;
}
.main-top .swiper-slide--shop::after {
  background-position: -954px -92px;
}
.main-top .swiper-control {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 52px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.main-top .swiper-pagination {
  position: relative;
  top: inherit;
  bottom: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 730px;
  margin-left: -12px;
}
.main-top .swiper-pagination-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
  height: 52px;
  margin: 0 !important;
  opacity: 1;
  font-size: 14px;
  color: #858995;
  background-color: transparent;
}
.main-top .swiper-pagination-bullet-active {
  color: #FFF;
}
.main-top .swiper-button-next, .main-top .swiper-rtl .swiper-button-prev, .main-top .swiper-button-next, .main-top .swiper-button-prev {
  position: relative;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  margin: 0;
}
.main-top .swiper-button-next, .main-top .swiper-button-prev {
  width: 40px;
  height: 52px;
  opacity: 0.8;
  transition: 0.2s;
}
.main-top .swiper-button-next:hover, .main-top .swiper-button-prev:hover {
  opacity: 1;
}
.main-top .swiper-button-next::after, .main-top .swiper-button-prev::after {
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  content: "";
  width: 10px;
  height: 17px;
  background-position: -1203px -685px;
}
.main-top .swiper-button-prev::after {
  background-position: -1203px -703px;
}
.main-top .swiper-fraction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-left: 16px;
  font-size: 16px;
  color: #888;
}
.main-top .swiper-fraction > .count {
  color: #fff;
  font-size: 14px;
}
.main-top .swiper-fraction > .total {
  font-size: 14px;
}
.main-top .swiper-all {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  opacity: 0.8;
  transition: 0.2s;
}
.main-top .swiper-all:hover {
  opacity: 1;
}
.main-top .swiper-all::after {
  content: "";
  display: inline-block;
  background: url(../images/sprite.png) no-repeat;
  background-size: 1284px 1258px;
  font-size: 0;
  width: 12px;
  height: 12px;
  background-position: -1023px -387px;
}

/* swiper */
.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}/*# sourceMappingURL=style.css.map */